<ul class="nav nav-{{#if pills }}pills{{else}}tabs{{/if}}" role="tablist">
  {{#each items}}
  <li class="nav-item" role="presentation">
    <button class="nav-link{{#if active }} active{{/if}}" id="{{ id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ id }}" type="button" role="tab" aria-controls="{{ id }}" {{#if active }}aria-selected="true"{{/if}}>{{ label }}</button>
  </li>
  {{/each}}
</ul>
<div class="tab-content mt-2">
  {{#each items}}
    <div class="tab-pane {{#if active }}show active{{ else }}fade{{/if}}" id="{{ id }}" role="tabpanel" aria-labelledby="{{ id }}-tab">{{{ contents }}}</div>
  {{/each}}
</div>
